<!-- Card Confirm -->
<div class="w3-card w3-round w3-white w3-center">
    <div class="w3-container">
        <p>{{title}}</p>
        <img src="/web/img/avatar6.png" alt="Avatar" style="width:50%"><br>
        <br>
        <span>{{text}}</span>
        <div class="w3-row w3-opacity">
            <div class="w3-half">
                <button class="w3-button w3-block w3-green w3-section" title="{{text-accept}}" onclick="{{action-accept}}"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="{{text-decline}}" onclick="{{action-decline}}"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
<br>